*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
input[type="checkbox"], input[type="radio"]{
    display: none;
}


$bg-site: whitesmoke;
$bg-title: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
$bd-color: #110038;

@import 'mixins.scss';
@import 'dark-styles.scss';

body{
    width: 100%;
    clear: both;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-site;
    overflow-x: hidden;
}
.index-container{
    width: 100%;
    max-width: 1440px;
    clear: both;
    min-height: 100vh;
    padding: 0 16px 16px 16px;
    background-color: $bg-site;
}


.nav-bar{
    width: 100%;
    clear: both;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
        .nav__container{
            width: 288px;
            clear: both;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;      
            position: relative;  
            .nav__title{
                background-image: $bg-title;
                box-shadow: 0 1px 0 0 #110038;
                width: 100vw;
                height: auto;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 8px;
                p{
                    @include f12-rg;
                    padding-left: 8px;
                }
            }
            
            .nav__logo-buttons{
                width: 100%;
                clear: both;
                img{
                    float: right;
                }
                .nav__logo{
                    margin: 20px 0; 
                    padding: 0 16px;
                    &.night{
                        display: none;
                    }
                }

                .nav__arrow-back{
                    position: absolute;
                    top: 65px;
                    left: -30px;
                    display: none;
                }
                .nav__buttons{
                    width: 100%;
                    height: fit-content;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    flex-direction: column;
                    
                    .button{
                        background: #F7C9F3;
                        border: 1px solid #110038;
                        box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                        text-transform: capitalize;
                        margin-bottom: 16px;
                        width: 100%;
                        height: 36px;
                        padding: 2px;
                        a{
                            text-transform: capitalize;
                            text-decoration: none;
                            @include f16-rg;
                            text-align: left;
                            line-height: 28px;
                            border: none;
                            outline: none;
                            width: 100%;
                            height: 100%;
                            p{
                                width: 100%;
                                height: 100%; 
                                text-align: center;                            
                            }
                        }
                        &:hover, &:active{
                            background: #E6BBE2;
                            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                            p{
                                outline: none;
                                cursor: pointer;
                                border: 1px dotted #110038;
                            }
                        }

                    }
                    .theme{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        height: 36px;
                        margin-bottom: 16px;
                        label{
                            position: absolute;
                            top: 0;
                            left: 0;
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            height: 36px;
                            &:hover .text, &:hover .arrow{
                                background: #E6BBE2;
                                border: 1px solid #110038;
                                box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                                p{
                                    border: 1px dotted #110038;
                                    cursor: pointer;
                                }
                            }
                            .text{
                                outline: none;
                                background: #F7C9F3;
                                border: 1px solid #110038;
                                box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                                width: calc(100% - 36px);
                                height: 36px;
                                padding: 2px;
                                text-align: center;
                                p{
                                    text-transform: capitalize;
                                    width: 100%;
                                    height: 100%;
                                    @include f16-rg;
                                    line-height: 28px;
                                }
                            }
                            
                            .arrow{
                                height: 36px;
                                width: 36px;
                                outline: none;
                                background: #F7C9F3;
                                border: 1px solid #110038;
                                box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                                padding: 2px;
                                p{
                                    width: 100%;
                                    height: 100%;
                                    padding-left: 16px;
                                    svg{
                                        display: block;
                                        position: relative;
                                        top: 11px;
                                        right: 7px;
                                    }
                                }
                            }
                        
                        .opt-box{
                            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                            position: absolute;
                            top: 36px;
                            left: 0;
                            width: 100%;
                            height: 102px;
                            padding: 10px;
                            background: #E6E6E6;
                            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            z-index: 2;
                            .opt{
                                width: 100%;
                                height: 36px;
                                label{
                                    display: none;
                                    position: relative;
                                    top: 0px;
                                    left: 0px;
                                    width: 100%;
                                    height: 36px;
                                    &:hover{
                                        cursor: pointer;
                                    }        
                                    p{
                                        @include f16-rg;
                                        width: 100%;
                                        height: 100%;
                                        padding-left: 16px;
                                        line-height: 36px;
                                        border: none;
                                    }
                                }
                                &.day{
                                    background: #FFF4FD;
                                    border: 1px solid #CCA6C9;
                                    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;                                
                                    margin-bottom: 5px;  
                                    span{
                                        border-bottom: 1px solid #110038;
                                        text-transform: capitalize;
                                    }    
        
                                }
                                &.night{
                                    margin-top: 5px;
                                    margin-bottom: unset;
                                    background: #F0F0F0;
                                    border: 1px solid #808080;
                                    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;    
                                    span{
                                        text-transform: capitalize;
                                    }
                                }
                            }
                        } 
                        }
                    }
                    .anchor-container{
                        position: relative;
                        width: 100%;
                        height: 36px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 13px;
                        padding: 2px;
                            a{
                                text-transform: capitalize;
                                text-decoration: none;
                                @include f16-rg;
                                text-align: left;
                                line-height: 28px;
                                width: 100%;
                                height: 100%;
                                p{
                                    //padding-left: 16px;
                                    width: 100%;
                                    height: 100%;
                                    &:hover span{
                                        border-bottom: 1px solid #110038;    
                                    }
                                }    
                            }
                            &:hover a p, &:focus a p{
                                cursor: pointer;
                                outline: none;
                                border: 1px dotted #110038;
                            }
                            &:active a p{
                                color: #B4B4B4;
                                border: none;
                            }
                            &:active a p span{
                                color: #B4B4B4;
                                border-bottom: 1px solid #B4B4B4;    
                            }
                    }
                }
            }

            .nav__search-bar{
                width: 100%;
                clear: both;
                background: #E6E6E6;
                box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                padding: 3px;
                .search__title{
                    width: 100%;
                    height: auto;
                    background-image: $bg-title;
                    
                    p{
                        @include f14-b;
                        letter-spacing: 0;
                        padding-left: 3px;
                        text-transform: capitalize;
                    }
                }
                .search-block{
                    width: 100%;
                    height: 65px;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    padding: 16px;
                    position: relative;
                    .search__input{
                        position: absolute;
                        top: 16px;
                        left: 16px;
                        width: 75%;
                        height: 30px;
                        background: #FFFFFF;
                        border: 1px solid #979797;
                        box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
                        padding-left: 16px;
                        outline: none;    
                        &::placeholder{
                            @include f16-rg(#B4B4B4);
                        }
                        &:nth-of-type(2){
                            display: none;
                        }
                        &:focus{

                            & ~ .search__button{
                                background: #F7C9F3;
                                border: 1px solid #110038;
                                box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                                p{
                                    @include f16-rg(#110038)
                                }
                                img:nth-child(1){
                                    display: none;
                                }
                                img:nth-child(2){
                                    display: inline-block;
                                }
                            }
                        }    
                    }
                    label{
                        position: absolute;
                        top: 16px;
                        left: 16px;
                        width: 75%;
                        height: 30px;
                    }
                    .search__button{
                        appearance: none;
                        height: 30px;
                        width: 10%;
                        background: #E6E6E6;
                        border: 1px solid #808080;
                        box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                        border-radius: 2px;
                        position: absolute;
                        top: 16px;
                        right: 16px;
                        outline: none;
                        cursor: pointer;
                        p{
                            display: none;
                            @include f16-rg(#8F8F8F);
                            text-transform: capitalize;
                        }
                        img:nth-child(2), img:nth-of-type(3){
                            display: none;
                        }
                        &:active{
                            border: 1px dotted #110038;
                            background: #e6bbe2;
                            box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
                            p{
                                @include f16-rg(#110038);
                            }
                            img:nth-child(1){
                                display: none;
                            }
                            img:nth-child(2){
                                display: inline-block;
                                border: 1px dotted #110038;
                            }
                            button{
                                padding: 4px;
                            }
                        }
                    }
                    .writing{
                            position: absolute;
                            top: 65px;
                            left: -3px;
                            width: calc(100% + 6px);
                            height: 160px;
                            padding: 16px 15px;
                            background: #E6E6E6;
                            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            display: none;

                            .writing__results{
                                width: 100%;
                                width: 100%;
                                position: relative;
                                .search__suggestions{
                                    width: 100%;
                                    height: 34px;
                                    padding: 1px;
                                    p{
                                        @include f14-rg;
                                        line-height: 28px;
                                        padding-left: 16px;
                                        z-index: 5;
                                    }
                                }
                                .search__suggestions:first-of-type{
                                    background: #DBDBDB;
                                    border: 1px solid #808080;
                                    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                                    p{
                                        border: 1px dotted #110038;
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                .search__suggestions:nth-of-type(2), .search__suggestions:nth-of-type(3){
                                    margin-top: 10px;
                                    background: #F0F0F0;
                                    border: 1px solid #808080;
                                    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
                                }

                            }
                    }
    
                }   

            }
        }
}
main{
    width: 100%;
    clear: both;
    margin: 16px 0;
    position: relative;
        .suggestions, .mis-guifos{
            width: 100%;
            clear: both;
            display: flex;
            justify-content: center;
            align-items: center;
                .sug__container, .mg__container{
                    width: 100%;
                    clear: both;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;                
                    .sug__title, .mg__title{
                        width: 288px;
                        height: 32px;
                        background: #FFFAFE;
                        border: 1px solid #E6BBE2;
                        box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        margin-bottom: 16px;
                        padding: 0 7px;
                        p{
                            @include f14-rg;
                        }
                    }
                    .sug__results{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        clear: both;
                        justify-content: center;
                        align-items: center;                    
                        .sug__preview{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;                        
                            width:288px;
                            height: 313px;
                            position: relative;
                            background: #E6E6E6;
                            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                            margin-bottom: 20px;
                            padding: 3px 4px 4px 4px;
                            overflow: hidden;
                            .title{
                                position: absolute;
                                top: 4px;
                                left: 4px;
                                width: 280px;
                                height: 24px;
                                background-image: $bg-title;
                                img{
                                    position: absolute;
                                    top: 5px;
                                    right: 5px;
                                }
                                p{
                                    text-decoration: none;
                                    @include f14-b;
                                    text-align: left;
                                    line-height: 24px;
                                    padding-left: 3px;
                                }
                            }
                            button{
                                position: absolute;
                                bottom: 19px;
                                left: 11px;
                                width: 81px;
                                height: 34px;
                                background: #4180F6;
                                border: 1px solid #4C2F99;
                                outline: none;
                                box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                padding: 3px;    
                                p{
                                    @include f14-rg(#fff);
                                    letter-spacing: 0;    
                                    width: 100%;
                                    line-height: 26px;
                                }
                                &:hover{
                                    cursor: pointer;
                                    p{
                                        border: 1px dotted #110038;
                                    }                        
                                }
                            }
                            .title + img{
                                position: absolute;
                                top: 29px;
                                left: 4px;
                                width: 280px;
                                height: calc(313px - 4px - 24px - 1px - 4px);
                            }    
                        }

                    }
                    .btn-cap__box{
                        width: 100%;
                        clear: both;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        flex-direction: row;
                        .btn-cap__img{
                            display: none;
                        }
                        .btn-cap__text button{
                            padding: 10px;
                            appearance: none;
                            background-color: #F7C9F3;
                            border: none;
                            box-shadow: 2px 2px 5px rgba(51,53,143,0.20);
                        }
                    }
    
                }

        }
        .trendings, .sug-trend-results, .search-results{
            width: 100%;
            clear: both;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;   
            margin-top: 32px;     
            .trend__container, .str__container, .sr__container{
                width: 288px;
                clear: both;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 32px 0;
                .examples{
                    padding: 16px;
                    width: 100%;
                    clear: both;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    //transform: translateY(-50px);
                    //z-index: 0;
                    .eg{
                        margin-bottom: 8px;
                        padding: 8px;
                        width: auto;
                        clear: both;
                        background: #4180F6;
                        border: 1px solid #4C2F99;
                        box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
                        
                            text-decoration: none;
                            @include f14-rg(#fff);
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                .trend__title, .str__title, .sr__title{
                    width: 100%;
                    height: 32px;
                    background: #FFFAFE;
                    border: 1px solid #E6BBE2;
                    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    padding: 0 7px;
                    p{
                        @include f14-rg;
                    }

                }
                .trend__results, .str__results, .sr__results{
                    width: 100%;
                    clear: both;
                    margin-top: 16px;
                    display: grid;
                    grid-template-columns: 1;
                    grid-template-rows: 10;
                    row-gap: 16px;
                    .trend__preview, .str__preview, .sr{
                        width: 288px;
                        max-width: 288px;
                        height: 298px;
                        position: relative;
                        border: 1px solid black;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                        .bottom-tags{
                            display: none;
                            position: absolute;
                            bottom: 4px;
                            left: 4px;
                            width: 284px;
                            height: 32px;
                            background-image: $bg-title;
                            text-align: center;
                            @include f14-b;
                            line-height: 32px;   
                            overflow: hidden;
                        }
                        &:hover{
                            cursor: pointer;
                            border: 1px solid #110038;
                            background: #E6E6E6;
                            box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                            width: 294px;
                            height: 304px;
                            padding: 3px;
                            img{
                                position: absolute;
                                width: 286px;
                                height: 296px;
                                border: 1px dotted #110038;
                            }
                            .bottom-tags{
                                display: block;
                            }
                        }
                    }
                }
            }

        }
        .search-results, #strId{
            display: none;
            margin-top: unset;
            
        }
}

#btn-theme-opt:checked ~ .nav-bar .nav__logo-buttons .nav__buttons .theme{
    .opt-box{
        transition-property: clip-path;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transition-duration: 0.2s;
        transition-timing-function: ease;
        .opt label{
            display: block;
        }
    }
} 

@media (min-width:576px){
    .nav-bar .nav__container{
        width: calc(100% - 32px);
        .nav__logo-buttons{
            img{
                float: left;
            }
            .nav__logo{
                margin: 64px 0 32px 0;
            }
            .nav__buttons{
                flex-direction: row;
                justify-content: space-evenly;
                align-items: flex-start;
                margin-bottom: 16px;
                .button{
                    width: 144px;
                }
                .theme{
                    width: 177px;
                }
                .anchor-container{
                    width: 95px;
                }
            } 
        } 
        .nav__search-bar{
            width: calc(100% - 32px);
            .search-block .search__button{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 0 4px;
                width: 102px;
                p{
                    display: inline-block;
                    padding-left: 4px;
                }
                &:active{
                    padding: 0 2px 0 2px;
                    border: 1px dotted #110038;
                    img:nth-child(2){
                        z-index: 2;        
                        border: none;
                    }
                }
                
            }
        } 
    }
}

@media (min-width:650px){

    .nav-bar .nav__container .nav__search-bar .search-block{
        .search__input:nth-of-type(2){
            display: block;
            width: calc(100% - 32px - 102px - 8px);
        }
        .search__input:nth-of-type(1){
            display: none;
        }
    }

    main{
        .suggestions .sug__container, .trendings .trend__container, .mis-guifos .mg__container, .search-results .sr__container{
            width: calc(100% - 32px);
            .sug__title, .trend__title, .mg__title, .sr__title{
                width: calc(100% - 32px);
                margin-bottom: 32px;
            }
            .sug__results{
                flex-wrap: wrap;
                flex-direction: unset;
                row-gap: 16px;
                column-gap: 5%;
            }
            .trend__results, .sr__results{
                width: calc(100% - 32px);
                grid-template-columns: 2;
                grid-template-rows: 7;
                gap: 16px;
                .trend__preview, .sr{
                    height: 100%;
                    max-width: 100%;
                    width: 100%;
                    &:hover{
                        border: 1px solid #110038;
                        background: #E6E6E6;
                        box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
                        width: 100%;
                        height: 100%;
                        padding: 2px;
                        img{
                            position: relative;
                            width: 100%;
                            height: 100%;
                            border: 1px dotted #110038;
                        }
                        .bottom-tags{
                            display: block;
                            width: calc(100% - 6px);
                            bottom: 3px;
                            left: 3px;
                        }
                    }
                    &:first-child{
                        grid-column: 1/1;
                        grid-row: 1/3;
                    }
                    &:nth-child(2){
                        grid-column: 2/2;
                        grid-row: 1/1;
                    }
                    &:nth-child(3){
                        grid-column: 2/2;
                        grid-row: 2/2;
                    }
                    &:nth-child(4){
                        grid-column: 1/3;
                        grid-row: 3/3;
                    }
                    &:nth-child(5){
                        grid-column: 1/2;
                        grid-row: 4/4;
                    }
                    &:nth-child(6){
                        grid-column: 2/2;
                        grid-row: 4/6;
                    }
                    &:nth-child(7){
                        grid-column: 1/1;
                        grid-row: 5/5;
                    }
                    &:nth-child(8){
                        grid-column: 1/3;
                        grid-row: 6/6;
                    }
                    &:nth-child(9){
                        grid-column: 1/1;
                        grid-row: 7/7;
                    }
                    &:nth-child(10){
                        grid-column: 2/2;
                        grid-row: 7/7;
                    }
                }
            }
            .examples{
                flex-direction: row;
                margin-bottom: unset;
                justify-content: left;
                .eg{

                    margin-right: 8px;
                }
            }
        }
    } 
}

@media (min-width: 768px){
    .nav-bar .nav__container{
        .nav__logo-buttons{
            display: flex;
            justify-content: space-between;
            width: calc(100% - 32px);
            .nav__logo{
                margin: unset;
                height: fit-content;
                width: fit-content;
                margin-top: 35px;
            }
            .nav__buttons{
                width: 460px;
                height: 100%;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 44px;
                margin-bottom: 35px;
            }
        } 
        .nav__search-bar .search-block{
            height: calc(48px + 32px);
            .search__input{
                height: 48px;
            }
            label{
                height: 48px;
            }
            .search__button{
                height: 36px;
                width: 102px;
                top: calc(((48px - 36px) / 2) + 16px);
                p{
                    padding-left: 10px;
                }
            }
            .writing{
                top: calc(48px + 32px);
            }
        } 
    } 
}

@media (min-width:1024px){
    .index-container{
        padding: 0 100px;
        .nav-bar{
            width: 100%;
            .nav__container{
                width: 100%;
                .nav__logo-buttons{
                    width: 100%;
                    .nav__logo{
                        padding: unset;
                    }
                }
                .nav__search-bar{
                    width: 100%;
                }
            }
        }
        .suggestions, .trendings, .mis-guifos{
            width: 100%;
            .sug__container, .trend__container, .mg__container{
                width: 100%;
                .sug__title, .trend__title, .mg__title{
                    width: 100%;
                }
                .sug__results{
                    display: grid;
                    grid-template-columns: 2;
                    grid-template-rows: 2;    
                    .sug__preview:first-of-type{
                        grid-row: 1/2;
                        grid-column: 1/2;
                    }         
                    .sug__preview:nth-of-type(2){
                        grid-row: 1/2;
                        grid-column: 2/3;
                    }         
                    .sug__preview:nth-of-type(3){
                        grid-row: 2/3;
                        grid-column: 1/2;
                    }         
                    .sug__preview:last-of-type{
                        grid-row: 2/3;
                        grid-column: 2/3;
                    }  
                }       
            }
        }
    } 

}

@media (min-width:1366px){
    .index-container{
        main{
            .suggestions .sug__container{
                    .sug__results{
                    flex-wrap: nowrap;
                    flex-direction: row;
                    grid-template-columns: 4;
                    grid-template-rows: 1; 
                    column-gap: 20px;   
                    .sug__preview:first-of-type{
                        grid-row: 1/2;
                        grid-column: 1/2;
                    }         
                    .sug__preview:nth-of-type(2){
                        grid-row: 1/2;
                        grid-column: 2/3;
                    }         
                    .sug__preview:nth-of-type(3){
                        grid-row: 1/2;
                        grid-column: 3/4;
                    }         
                    .sug__preview:last-of-type{
                        grid-row: 1/2;
                        grid-column: 4/5;
                    }  
                }       
            
            }
            .trendings .trend__container .trend__results .trend__preview, .search-results .sr__container .sr__results .sr{
                
                
                grid-template-columns: 4;
                grid-template-rows: 3;
                max-height: 304px;

                &:first-child{
                    grid-column: 1/1;
                    grid-row: 1/1;
                }
                &:nth-child(2){
                    grid-column: 2/2;
                    grid-row: 1/1;
                }
                &:nth-child(3){
                    grid-column: 3/3;
                    grid-row: 1/1;
                }
                &:nth-child(4){
                    grid-column: 4/4;
                    grid-row: 1/1;
                }
                &:nth-child(5){
                    grid-column: 1/3;
                    grid-row: 2/2;
                }
                &:nth-child(6){
                    grid-column: 3/3;
                    grid-row: 2/2;
                }
                &:nth-child(7){
                    grid-column: 4/4;
                    grid-row: 2/2;
                }
                &:nth-child(8){
                    grid-column: 1/1;
                    grid-row: 3/3;
                }
                &:nth-child(9){
                    grid-column: 2/2;
                    grid-row: 3/3;
                }
                &:nth-child(10){
                    grid-column: 3/5;
                    grid-row: 3/3;
                }

            }
        }
    } 
}
